<aside class="sidebar">
    <div class="sidebar-container">
        <div class="sidebar-header">
            <div class="brand">
                <div class="logo">
                    <span class="l l1"></span>
                    <span class="l l2"></span>
                    <span class="l l3"></span>
                    <span class="l l4"></span>
                    <span class="l l5"></span>
                </div>
                Effectiveness
            </div>
        </div>
        <nav class="menu">
            <ul class="nav metismenu">
                <li routerLinkActive="active">
                    <a [routerLink]="['/chat', 'my-page']">Моя сторінка</a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/chat', 'all-users']">Всі користувачі</a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/chat', 'mail']">Пошта</a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/chat', 'dialogues']">Діалоги <span class="badge" *ngIf="uncheckedMessages!==0" >{{ uncheckedMessages }}</span></a>
                </li>
            </ul>
        </nav>
    </div>
</aside>